{% extends "base.html" %}


{% block content %}
<div class='col-6 offset-md-3'>
    <h1>Your Form</h1>
    <form class="my-ajax-form" method="POST" data-href={{request.build_absolute_url|safe}} > 
    {% csrf_token %}
    {{ form.as_p }}
    <input class='btn btn-default' type='submit' value='Submit' />
    </form>
</div>

{% endblock %}

{% block javascript %}

<script>

$(document).ready(function(){
    var $myForm = $(".my-ajax-form")
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisendpoint = $myForm.attr("data-href") || window.location.href 
        console.log($formData)
        console.log($thisendpoint)
        $.ajax({
            method: "POST",
            url: $thisendpoint,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })
    function handleFormSuccess(data, textStatus, jqXHR){
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)
        $myForm[0].reset();
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    }
    
})

</script>

{% endblock javascript %}